*,
*:after,
*:before
{
    box-sizing: border-box;
}

body
{
    width: 800px;
    margin: 0 auto;
}

body:after
{
    display: block;
    clear: both;

    content: '';
}

aside
{
    float: left;

    width: 200px;
    padding: 10px;

    text-align: right;
}

nav
{
    padding: 10px;
}

main
{
    padding: 10px;
}

section
{
    float: left;

    width: 600px;
}

.block
{
    display: block;

    cursor: pointer;
}

.tab
{
    margin-right: 10px;

    cursor: pointer;

    color: #428bca;
}
