*,
*:after,
*:before
{
    box-sizing: border-box;
}

body
{
    width: 800px;
    margin: 0 auto;
}

body:after
{
    display: block;
    clear: both;

    content: '';
}

aside
{
    float: left;

    width: 200px;
    padding: 10px;

    text-align: right;
}

nav
{
    min-height: 30px;
    padding: 10px 10px 0;
}

main
{
    padding: 10px;
}

section
{
    float: left;

    width: 600px;
}

.block
{
    display: block;

    cursor: pointer;
}

.tab
{
    margin-right: 10px;

    cursor: pointer;

    color: #428bca;
}

h2
{
    font-size: 130%;

    margin: 0 0 11px 0;
}

h3
{
    font-size: 130%;

    margin: 0 0 10px 0;

    text-transform: uppercase;
}

h4
{
    font-size: 125%;

    margin: 0 0 10px 0;
}

h5
{
    font-size: 115%;

    margin: 0 0 10px 0;
}

h6
{
    font-size: 105%;

    margin: 0 0 10px 0;
}
